#
RewriteEngine on

RewriteCond %{REQUEST_METHOD} POST
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule (.*) /api/index.pl?$0 

RewriteCond %{REQUEST_METHOD} GET
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule (.*) /api/index.pl?$0 

RewriteCond %{REQUEST_METHOD} DELETE
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule (.*) /api/index.pl?$0 

RewriteCond %{REQUEST_METHOD} PUT
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule (.*) /api/index.pl?$0 

#RewriteRule (.*) /api/api.pl?var=$1
